.app {

}

.pixelInfo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  padding: 15px;
  color: white;
  border-left: 3px solid #007BFF;

  h3, p, a, div {
    display: inline-block;
    margin: 0;
  }

  h3, p, div {
    margin-right: 20px;
  }
}

.pixelColor {
  width: 20px;
  height: 20px;
}